<!DOCTYPE html>
<html lang="es-co">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    

    <link rel="icon" type="image/vnd.microsoft.icon" href="~/favicon2.ico" sizes="16x16 24x24 36x36 48x48">

    <style>
        html, body {
            height: 100%;
            background: white url(../images/Frontpage.jpg) center center no-repeat;
            background-size: cover;
            max-width: 100%;
        }

        images {
            max-width: 100%;
           
        }

        #cover {
            color: white;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
        }

        #cover-texto {
            width: 100%;
            color: navy;
        }

        #cover-texto .form-inline {
                padding: 5.3rem 0;
        }

        #footer-login {
            margin-top: 0px;
            text-align: center;
            background: rgba(0, 0, 0, .8);
            color: white;
            padding: 0rem 2;
            max-width: 100%;
        }
        .card {
            margin: 0 auto;
            float: none;
            max-width: 40%;
            border: 1px solid #000000;
            border-radius: 5px;
            padding: 10px;
        }
    </style>


</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer-login">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Creado por CSSP<a href="www.csspconsulting.com"> Consulting Service and Security Polygraph LTDA</a></p>
                        <p>Desarrollado por <a href="www.escsas.com"> E.S.C. SAS</a></p>
                        <p>Todos los derechos reservados &copy; 2019 - JTI</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

